body
  {
  background-color: lightgrey;
  font-family: helvetica, arial, sans-serif;
  font-size: 13pt;
  margin: 0;
  }

header{
  border-style: solid;
  text-align: center;
}

h2{
  margin: 12px;
}

p
{
    font-family: verdana;
    font-size: 20px;
    margin: 12px;
}

ul.nav {
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    margin-left: 0px;
}

.nav li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #999;
}

.active {

}
