body
{
  background-color: lightgrey;
  font-family: helvetica, arial, sans-serif;
  font-size: 13pt;
  }
h1
{
  border-style: solid;
  text-align: center;
}

body
{
  background-color: lightgrey;
  font-family: helvetica, arial, sans-serif;
  font-size: 13pt;
  }
h1
{
  border-style: solid;
  text-align: center;
}

body
{
  background-color: lightgrey;
  font-family: helvetica, arial, sans-serif;
  font-size: 13pt;
  }
h1
{
  border-style: solid;
  text-align: center;
}

ul.nav {
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    margin-left: 0px;
}

.nav li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 70px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #165;
}

.active {
    background-color: #4CAF50;
}
